# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.py text
*.pyx text
*.cfg text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.exe binary

# Keep windows line ending for this file
Default%20Settings eol=crlf
